{% if 'auth.is_admin' in user.get_all_permissions %}
	{% if users %}
		{% for user in users %}
				<li><a class="user">{{user}}</a>
					
					{% if 'auth.is_admin' in user.get_all_permissions%}
						<div class="block" style="display:none; margin-top:10px;">
						<p>This user is the superuser and cannot be deleted or changed</p>
						</div>
					{%else%}
						<div class="block" style="display:none; margin-top:10px;">
							{% if 'auth.is_creator' in user.get_all_permissions%}
								<label class="checkbox-inline"><input class= "admincheck" type="checkbox" value="" checked>Creator</label><br>
							{% else %}
								<label class="checkbox-inline"><input class= "admincheck" type="checkbox" value="">Creator</label><br>
							{% endif %}
							<button class="deleteUser">Delete User</button>
						</div>	
					{%endif%}
				</li>
		{% endfor %}
	{% endif %}
{% endif %}