<!DOCTYPE html>
<html lang="en">
 <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="author" content="Galenic">

  	<link rel="stylesheet" href="/static/registration/css/bootstrap.min.css">
  	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  	
  	<title>Sign Up Page</title>

  	<script src="/static/registration/js/jquery.min.js"></script>
  	<script src="/static/registration/js/bootstrap.min.js"></script>
</head>

  <body>

    <div class="container">
		<div style="width:40%; min-width:300px;margin:0 auto;" class="text-center">
			{% block content %}

			{% if error %}
			<p>{{error}}</p>
			{% endif %}

			
			<form method="post" class="form-signin" action="/signup/">
				<h2 class="form-signin-heading">Sign Up</h2>
				{% csrf_token %}
				<table>
				<tr>
					<label for="inputEmail" class="sr-only">Username</label>
					<input type="text" name="username" value="{{ username }}" class="form-control" placeholder="Username" required autofocus>	
				</tr>
				<tr>
					<label for="inputUser" class="sr-only">Email address</label>
					<input type="text" name="email" value="{{ email }}" class="form-control" placeholder="Email address" required>	
				</tr>
				<tr>
					<label for="inputUser" class="sr-only">Confirm Email address</label>
					<input type="text" name="confirmemail" value="{{ email }}" class="form-control" placeholder="Confirm Email address" required>	
				</tr>
				<tr>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="password" value="" class="form-control" placeholder="Password" required>
				</tr>
				<tr>
					<label for="confirmInputPassword" class="sr-only">Confirm Password</label>
					<input type="password" name="confirmpassword" value="" class="form-control" placeholder="Confirm Password" required>
				</tr>
				</table>
				<input class="btn btn-lg btn-default btn-block" type="submit" value="Submit" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
			{% endblock %}
		</div>
	</div>
  </body>
</html>
