<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crop_sense.farmerinterfaceapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmallMessageBox"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        >
        </activity>

        <activity
            android:name=".fullscreenvideo"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity
            android:name=".OptionsScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".DisplayVideos"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".LargeMessageBox"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ScoutVideo"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".SampleSelection"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".SprayVideo"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>

    </application>

</manifest>
