<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crop_sense.farmerinterfaceapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true" >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskIfPlanting"
           >
        </activity>
        <activity
            android:name=".OptionsScreen"
            >
        </activity>
        <activity
            android:name=".AskIfFlowers"
            >
        </activity>
        <activity
            android:name=".DisplayVideos"
            >
        </activity>
        <activity
            android:name=".GoBackNextDay"
            >
        </activity>
        <activity
            android:name=".MustScout"
            >
        </activity>
        <activity
            android:name=".ScoutVideo"
            >
        </activity>
        <activity
            android:name=".SampleSelection"
            >
        </activity>
        <activity
            android:name=".NeedToSpray"
            >
        </activity>
        <activity
            android:name=".SprayVideo"
            >
        </activity>

    </application>

</manifest>
