<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="author" content="Galenic">

  	<link rel="stylesheet" href="/static/notifications/css/bootstrap.css">
  	<link rel="stylesheet" href="/static/notifications/css/index.css">
  	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  	
  	<title>Recipe Generator</title>

  	<script src="/static/notifications/js/jquery.min.js"></script>
  	<script src="/static/notifications/js/bootstrap.min.js"></script>
</head>

<body>

	<div id="recipe-container" class="container">
		<div id ="recipe1" class = "recipe-wrapper">
			<div class="row" >
				<div class="col-sm-3 col-xs-5 text-center " style="margin-top:35px;">
					<div id="vardrop" class="custom-dropdown shadow">
						<span>Variables</span>
						<ul class="custom-drop">	
							<li><a>Elevation</a></li>
							<li><a>Wind Speed</a></li>
							<li><a>Wind Direction</a></li>
							<li><a>Temperature</a></li>
							<li><a>Humidity</a></li>
							<li><a>Rain</a></li>
							<li><a>Cloud Coverage</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-1 col-xs-2 text-center" style="margin-top:10px;">
						<div class="circle shadow"><p>></p></div>
						<div class="circle shadow"><p>=</p></div>
						<div class="circle shadow"><p><</p></div>
				</div>
				<div class="col-sm-3 col-xs-5 text-center" style="margin-top:35px;">
					<input type="number" placeholder="Value" class="recipe_value shadow"><label class="value_label"></label>
				</div>
				<div class="col-sm-3 col-xs-6 text-center" style="margin-top:35px;">
					<input type="number" placeholder="Range" class="recipe_range shadow"><label class="range_label">&nbsp;km</label>
				</div>
				<div class="col-sm-2 col-xs-6 text-center" style="margin-top:35px;">
					<div id="alertdrop" class="custom-dropdown shadow">
						<span>Alert Type</span>
						<ul class="custom-drop">	
							<li><a>Scout</a></li>
							<li><a>Spray</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="andCircle shadow">+</div>
		</div>
	</div>
	
	<div id="saveButton" class=" shadow">Save</div>
	
	<div id="recipe-list" class ="container">
		<div id="headcont">
			<table id = "tableheader">
				<tr>
					<th>Variable</th>
					<th>Operator</th>
					<th>Value</th>
					<th>Range</th>
					<th>Alert</th>
				</tr>
			</table>
		</div>
		<div class="toolbar"></div>
		<div id="tablecont">
			
			
			<table id = "tablebody">
				{% include "notifications/table.html" %}
			</table>
		</div>
			
	</div>
	<script src="/static/notifications/js/index.js"  type="text/javascript"></script>
	{% include "notifications/latest.html" %}
</body>

</html>
